#meteoalarms h4{
  margin: 0.3em;
}

#meteoalarms table{
  margin-bottom: 0.4em;
}

#meteoalarms span{
  display: block;
  margin: 0.3em;
  font-size: 90%;
}


.alarm{
  border-radius: 0.4em;
  margin: 0.4em 0;
  padding: 0.2em;
  color: #333;
}
#meteoalarms .alarm a{
  color: #333;
  font-size: 80%;
}

.green{
  background-color: green;
}

.yellow{
  background-color: #FBF304;
}

.orange{
  background-color: #FFB042;
}

.red{
  background-color: #AA0808;
  color: whitesmoke;
  border-radius: 0.4em;
}

#see_more{
  margin-top: 1em;
  background-color: #555;
  color: whitesmoke;
  border-radius: 0.4em;
  border-style: none;
  padding: 0.4em;
}
#see_more:hover{
  background-color: whitesmoke;
  color: #555;
}

#button {
  display: inline-block;
  background-color: rgb(173, 171, 171);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 65px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: '\21E7';
  font-size: 40px;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
  font-style: normal;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 0.6;
  visibility: visible;
}

.toggle_pm2_5{
  margin-bottom: 0.5em;
}

.lang_btn{
  border-radius: 0.5em;
  background-color: darkgray;
  padding: 0.25em;
  max-width: 70px;
  display: flex;
  justify-content: center;
  font-size: 90%;
  margin: auto;
}

.lang_btn div{
  width: 45px;
  height: 20px;
  margin: auto;
}

.lang_on{
  color: #333;
  background: lightgrey;
  border-radius: 0.4em;
}

a.lang_off:visited{
  color: #515151;
}

a.lang_off:hover{
  font-style: normal;
  color: whitesmoke;
}

.units_btn{
  border-radius: 0.5em;
  background-color: darkgray;
  padding: 0.25em;
  max-width: 222px;
  margin: 0.3em auto;
  display: flex;
  justify-content: center;
  font-size: 90%;
}

.unit_off{
  background: darkgray;
  color: #515151 ;
  border-style: none;
}

.unit_on{
  background: lightgray;
  color: #333;
  padding: 0.3em 0.5em;
  border-radius: 0.4em;
  border-style: none;
  margin: auto;
}

.unit_off:hover{
  color: lightgray;
}

#changeButton  {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: darkgray;
  cursor: pointer;
  outline: inherit;
  padding: 0.1em 0.3em;
  border-radius: 0.5em;
  font-size: 90%;
}

#changeButton:hover {
  background: whitesmoke;
  color: #333;
}

.theme {
  gap: 15px;
  display: flex;
  color: #333;
  font-family: Tahoma, sans-serif;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  width: 390px;
  text-align: center;
  padding: 1em;
}

#weather, #air, #health_advisory, #meteoalarms{
  box-shadow: 0px 0px 6px 6px rgb(200, 200, 200);
  border-radius: 0.5em;
}

.float-child {
  display: inline-block;
  padding: 0.5em;
  width: 40%; 
}  

a:link, a:active, a:visited{
  text-decoration: underline ;
  color:#333;
}

a:hover{
  color: darkgray;
  font-style: italic;
  text-decoration: none ;
}

h2 {
  margin-bottom: 1.2em;
}

#forecast_table{
  width: 370px;
  overflow: auto;
  position: relative;
}

#forecast_table td{
  font-size: 80%;
}

#today_forecast{
  width: 370px;  
  padding: 0 1em;
}

#today_forecast_table{
  width: 370px;  
  overflow: auto;
} 

#today_forecast_table table{
  margin: 0 auto;
}

tr.border_bottom td {
  border-bottom: 1px solid #333;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
}

.first-col {
  left: 0px; 
}

#fc_today{
  padding: 0 0.7em;
}

.fc_today_intervals {
  padding: 0 0.4em;
}

.time {
  word-wrap: break-word;
}

@media (max-width: 1732px) {
  header, footer{
    width: 1266px;
  }
}

@media (max-width: 1311px) {
  header, footer{
    width: 830px;
  }
}

@media (max-width: 874px) {
  header, footer{
    width: 390px;
  }
}

@media (max-width: 440px) {
  header, footer{
    width: auto;
  }
}

header {
  max-width: 1688px;
  color: #333;
  text-align: center;
  padding: 1em;
  font-family: Tahoma, sans-serif;
  border-radius: 0.5em;
  box-shadow: 0px 0px 6px 6px rgb(200, 200, 200);
  margin: 1em auto;
}

header p {
  font-size: 85%;
}

header h1{
  margin-block-start: 0em;
  margin-block-end: 0em;
}

header a:active, header a:link {
  color: darkgray;
}

header a:link, header a:active, header a:visited {
  color: darkgrey; 
  text-decoration: none; 
}

footer a:link, footer a:visited {
  color: rgb(139, 137, 137);
} 

footer {
  max-width: 1688px;
  margin: 1em auto;
  box-shadow: 0px 0px 6px 6px rgb(200, 200, 200);
  color: #333;
  text-align: center;
  padding: 1em;
  font-family: Tahoma, sans-serif;
  border-radius: 0.5em;
}

#weather h3 {
  color: #EC6E4C;
  font-size: 170%;
  margin-block-start: 0em;
  margin-block-end: 0.25em;
}
.other_info {
  text-align: left;
}

.other_info span{
  display: block;
  margin: 0.5em 0em;
}

#weather .temp_desc label{
  color: #EC6E4C;
  font-size: 80%;
}

p#weather_description {
  color: #EC6E4C;
  font-size: 110%;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

#weather span{
  font-size: 80%;
  /* color: rgb(111, 110, 110); */
}

.forecast_day{
  text-align: center;
  font-size: 80%;
  padding-right: 0.7em;
} 

.small{
  font-size: 75%;
  padding: 0.25em;
}


#air h3 {
  padding: 0.5em ;
  font-size: 120%;
  border-radius: 0.5em;
  margin: 0.5em;
}
h3#city_aqi_main {
  margin-top: 1em;
}
button#see_more_stations{
  margin: 0.5em 0 1.5em 0;
  border-radius: 0.5em;
  border-style: none;
  padding: 0.2em 0.5em;
}

#city_aqi td{
  border-radius: 0.5em;
  padding: 0.5em;
}

#aqi_legend th{
  text-align: center;
}

#advisory{
  text-align: justify;
}

.stations_aqi td{
  border-radius: 0.5em;
  padding: 0.25em;
}
#city_aqi{
  border-spacing: 0.25em;
}

p.flex {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.centered-table {
  display: flex;
  justify-content: center;

  /* display: inline-table; */
}
.label{
  font-size: 85%;
}

span.temp {
  color: rgb(236, 110, 76)
}

#weather label.temp {
  color: rgb(236, 110, 76)
}

span.rain {
  color: #0F5495;
}

#weather label.rain {
  color: #0F5495;
}

.good, td.good, h3.good, span.good {
  background: #02E364;
  color:#333;
}

.moderate, td.moderate, h3.moderate {
  background: #FBF304;
  color:#333;
}

.unhealthy_for_sensitive_groups, td.unhealthy_for_sensitive_groups, h3.unhealthy_for_sensitive_groups, span.unhealthy_for_sensitive_groups{
  background: #FFB042;
  color:#333;
}

.unhealthy, td.unhealthy, h3.unhealthy, span.unhealthy{
  background: #AA0808;
  color:whitesmoke;
}

.very_unhealthy, td.very_unhealthy, h3.very_unhealthy, span.very_unhealthy{
  background: #530279;
  color:whitesmoke;
}

.hazardous, td.hazardous, h3.hazardous, span.hazardous{
  background: #760404;
  color:whitesmoke;
}

.good_eea {
  background: #50F0E6;
  color: #333;
}

.fair_eea {
  background: #50CCAA;
  color: #333;
}

.moderate_eea {
  background: #F0E641;
  color: #333;
}

.poor_eea {
  background: #FF5050;
  color: #333;
}

.very_poor_eea {
  background: #960005;
  color: whitesmoke;
}

.extremely_poor_eea {
  background: #7D2181;
  color: whitesmoke;
}

#air .unhealthy, #air .very_unhealthy, #air .hazardous {
  color: lightgrey;
}

#air .unhealthy, #air .very_unhealthy, #air .hazardous {
  color: lightgray;
}

#aqi_legend {
  font-size: 80%;
  text-align: left;
  margin: 0.5em auto;
}

#aqi_legend td {
  border-radius: 0.5em;
  padding: 0.2em 1em; 
}

#aqi_legend td.aqi_val {
  text-align: right;
}

td.empty {
  border-radius: 0.4em;
}

#meteoalarms td.empty {
  padding: 0.3em 0.7em;
}

#meteoalarms td {
  font-size: 80%;
}

#map { 
  border-radius: 0.5em;
  display: inline-block;
  height: 20em;
  width: 100%; 
  margin: 0.5em 0;
}

.custom-marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

label#speed {
  font-size: 100%;
}

.stations_aqi {
  font-size: 90%;
}

@media (prefers-color-scheme: dark) {

  .lang_btn{
    background-color: #272626;
  }
  
  .lang_on{
    color: lightgrey;
    background: #333;
  }
  
  a.lang_off:visited{
    color: #515151;
  }
  
  a.lang_off:hover{
    color: lightgray;
  }

  .units_btn{
    background-color: #272626;
  }
  
  .unit_off{
    background: #272626;
    color: #515151 ;
  }
  
  .unit_on{
    background: #333;
    color: lightgray;
  }
  
  .unit_off:hover{
    color: lightgray;
  }

  #weather, #air, #health_advisory, #meteoalarms{
    box-shadow: 0px 0px 6px 6px rgb(30, 30, 30);
  }

  .theme.adaptive {
    background: #272626;
    color: lightgray;
  }

  .section {
    background: #333;
  }

  html {background-color: #272626;}

  #weather_forecast {background-color: #272626;}

  header > h1,  header > p{
    color: darkgray;
  }

  #aqi_legend td.aqi_val{
    color: lightgray;
  }

  .stations_aqi td.station_name{
    color: whitesmoke;
  }

  #forecast_table td.sticky-col {
    background-color: #272626;
  }

  #today_forecast_table td.sticky-col {
    background-color: #272626;
  }

  tr.border_bottom td {
    border-bottom: 1px solid lightgray;
  }

  a:link, a:active, a:visited{
    text-decoration: underline ;
    color:whitesmoke;
  }

  a:hover{
    color: darkgray;
    font-style: italic;
    text-decoration: none ;
  }

  header {
    background-color: #333;
    box-shadow: 0px 0px 6px 6px rgb(30, 30, 30);
    color: lightgray;
  }

  footer {
    background-color: #333;
    box-shadow: 0px 0px 6px 6px rgb(30, 30, 30);
    color: lightgray;
  }

  #weather label {
    color: lightgrey;
  }

  span.rain {
    color: #9ACBF9;
  }

  #weather label.rain {
    color: #9ACBF9;
  }

  #weather label.temp_desc{
    color: #EC6E4C;
    font-size: 80%;
  }

  span#pm2_estimate {
    color:whitesmoke; 
  }

  footer a:link, footer a:visited {
    color: lightgrey;
  } 

}