.section {
  /* border-bottom: 1px solid darkgray; */
  width: 25%;
  overflow: auto;
  text-align: center;
}

.container {
  display: flex;
  color: #333;
  font-family: Tahoma, sans-serif;
}

@media (max-width: 1500px) {
  .container {
    display: block;
  }
  .section{
    width: 100%;
    font-size: 2vh;
    height: 100vh;
  }
  #weather {
    font-size: 2.1vh;
    height: 83vh;
  }
}

header {
  background-color: #333;
  color: whitesmoke;
  text-align: center;
  padding: 1em;
  font-family: Tahoma, sans-serif;
  border-radius: 0.5em;
}

header p {
  font-size: 85%;
}

header h1{
  margin-block-start: 0em;
  margin-block-end: 0em;
}

header a, header a:visited {
  color: darkgray;
  text-decoration: none;
}

header a:hover {
  color: darkgray;
  text-decoration: underline; 
}

footer {
  background-color: #333;
  color: lightgrey;
  text-align: center;
  padding: 0.5em;
  font-family: Tahoma, sans-serif;
  border-radius: 0.5em;

}

#weather h1 {
  color: #EC6E4C;
  /* padding: 22px 0 0 0; */
  font-size: 300%;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.other_info {
  /* text-align: left;
  padding-left: 1em; */
  margin-block-start: 3em;
  margin-block-end: 0em;
}

.other_info span{
  display: block;
  margin: 0.5em 0em;
}
p#weather_description {
  color: #EC6E4C;
  font-size: 180%;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.forecast_day{
  text-align: center;
  font-size: 80%;
  padding-right: 0.7em;
} 

.small{
  font-size: 70%;
  padding: 0.25em;
}

#stations-aqi h3 {
  margin: 1.5em 0em;
}

#air h3 {
  padding: 0.5em 0 ;
  font-size: 120%;
  border-radius: 0.5em;
  margin: 1em 1.5em;
}
#city_aqi td{
  border-radius: 0.5em;
  padding: 0.5em;
  /* font-weight: bold; */
}

#health_advisory{
  padding: 0 1em;
  margin-top: 2.5em;
}

#advisory{
  text-align: justify;
}

#stations_aqi td{
  border-radius: 0.5em;
  padding: 0.25em;
}
#city_aqi{
  border-spacing: 0.25em;
}

p.flex {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.centered-table {
  display: inline-table;
}
span.temp {
  color: #EC6E4C;
}
span.rain {
  color: rgb(9, 126, 204);
}
td.good, h3.good, span.good {
  background: #00CC00;
}
td.moderate, h3.moderate {
  background: #FFCC00;
}
td.unhealthy_for_sensitive_groups, h3.unhealthy_for_sensitive_groups, span.unhealthy_for_sensitive_groups{
  background: #FF9900;
}
td.unhealthy, h3.unhealthy, span.unhealthy{
  background: #FF0000;
}
td.very_unhealthy, h3.very_unhealthy, span.very_unhealthy{
  background: #9966CC;
}
td.hazardous, h3.hazardous, span.hazardous{
  background: #990000;
}